body {
	display: block;
	font-family: "Times New Roman", Times, serif;
	background-color: rgb(235, 97, 52);
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 100%;
	min-width: 500px;
}

header > h1 {
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	color: rgb(0, 0, 0);
	background-color: yellow;
	width: 100%;
}

h2 {
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	color: rgb(235, 58, 52);
	padding: 10px 0px;
}

h3 {
	text-align: left;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	color: red;
}

nav {
	background-color: rgb(0, 0, 0);
	list-style: none;
	font-family: 'Lucida Console', Monaco, monospace;
}

ul {
	margin: 0;
	padding: 10px 0px;
}

li {
	text-align: left;
	display: inline;
}

li a {
	padding: 10px 172px;
}

li a:hover {
	background-color: yellow;
	color: black;
}

ol > li {
	display: list-item;
	list-style-position: inside;
}

/*Floating Styles*/
nav.horizontalNavigation li {
	display: block;
	float: left;
}

div#page {
	background-color: rgb(166,143,98);
	width: 100%;
	height: 400px;
	padding: 0px 0px;
	/*padding: row, column*/
}

section#leftColumn {
	text-align: left;
	clear: left;
	float: left;
	width: 70%;
	height: 400px;
}

section#rightColumn {
	background-color: rgb(255,220,151);
	float: left;
	width: 30%;
	height: 400px;
}

footer > nav.verticalNavigation {
	float: left;
	width: 20%;
}

footer section#contactInfo {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: rgb(173,76,7);
	float: left;
	width: 100%;
}

/*Container Collapse Styles*/
body > footer::after {
	clear: both;
	content: "";
	display: table;
}